version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: chatbot_frontend_prod
    ports:
      - "80:80"

  backend:
    build: ./backend
    container_name: chatbot_backend_prod
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
